body {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 500px; 
    height: 100%;
    margin: 0 auto;

}